---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p>
  Welcome to <a class="wiki" href="/entries/eleventy-bloomz/">eleventy-bloomz</a>, a digital garden starter template.
  This template serves as a lightweight, minimally-styled starting point for anyone looking to
  build a personal website, blog, digital garden, or portfolio with <a href="https://www.11ty.dev/">eleventy</a> -- and <a href="https://github.com/wikibonsai/wikibonsai">WikiBonsai</a>.
</p>
<p>Here are a few ideas on how to get started with the template:</p>
<ul>
  <li>Configs</li>
  <ul>
    <li>Edit Eleventy metadata in the <code>_data/metadata.json</code> with your blog’s information.</li>
    <li>Edit Eleventy configs in <code>.eleventy.js</code> with your <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
    <li>Edit Bloomz setup and configs and logic in <code>wikibonsai/</code></li>
  </ul>
  <li>Pages</li>
  <ul>
    <li>Edit this page in <code>_includes/layouts/index.njk</code></li>
    <li>Edit the tag tree map in <code>content/map.njk</code></li>
  </ul>
  <li>Layouts</li>
  <ul>
    <li>Customize the base layout in <code>_includes/layouts/base.njk</code></li>
    <li>Customize the blog post page layout in <code>_includes/layouts/post.njk</code></li>
    <li>Customize the entry page layout in <code>_includes/layouts/entry.njk</code></li>
  </ul>
  <li>Includes</li>
  <ul>
    <li>Customize the tag tree map branching in <code>_includes/branch.njk</code></li>
    <li>Customize the posts list in <code>_includes/postslist.njk</code></li>
    <li>Customize the entry breadcrumbs in <code>_includes/breadcrumbs.njk</code></li>
    <li>Customize the entry backrefs section in <code>_includes/back-refs.njk</code></li>
  </ul>
  <li>Content</li>
  <ul>
    <li>Add posts in <code>content/posts/</code></li>
    <li>Add entries in <code>content/entries/</code></li>
    <li>Update topic index in <code>content/index/</code></li>
  </ul>
</ul>
<p>
  Have fun! If you get stuck, remember to checkout the <a href="https://www.11ty.dev/docs/"
    >eleventy docs</a> or <a href="https://github.com/wikibonsai/wikibonsai/"
    >wikibonsai docs</a>.
</p>