<div class="back-refs">
	<h3 class="title">Links To This Page</h3>
	<div class="sections">
		<div>
			<span class="section-title">Attributes</span>
			<ul>
				{%- for type, battrs in backattrs %}
				<li>
					{{ type }} :
					<ul>
						{%- for battr in battrs %}
							<li>
								<a class="wiki" href={{ battr.url | url }}>{{ battr.data.title }}</a>
							</li>
						{%- endfor %}
					</ul>
				</li>
				{%- endfor %}
			</ul>
		</div>
		<div>
			<span class="section-title">Links</span>
			<ul>
				{%- for blink in backlinks %}
					<li>
						<a class="wiki" href="{{ blink.doc.url | url }}" class="backlink">{{ blink.doc.data.title }}</a>
						{%- if blink.type %}({{ blink.type }}){% endif %}
					</li>
				{%- endfor %}
			</ul>
		</div>
</div>
