<ul class="branch">
  {% for node in nodes %}
    <li>
      {% if node.url %}
        <a class="wiki" href="{{ node.url }}">{{ node.text }}</a>
      {% else %}
        <a class="invalid">{{ node.text }}</a>
      {% endif %}
      {% if node.children %}
        {% set nodes = node.children | getNodes(node.children) %}
        {% include "branch.njk" %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
