<ul>
  {% for node in nodes %}
    {% set file_url = collections.all | findNodeUrl(node.text) %}
    <li class="hash">
      {% if file_url %}
        <a class="wiki" href="{{ file_url }}">{{ node.text }}</a>
      {% else %}
        <a class="invalid">{{ node.text }}</a>
      {% endif %}
      {% if node.children %}
        {% set nodes = node.children | getNodes(node.children) %}
        {% include "branch.njk" %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
