<nav class="bread-crumbs">
  <ol>
    {% for node in ancestors %}
      <li>
        {% if node.url %}
          <a class="wiki" href="{{ node.url }}">{{ node.text }}</a>
        {% else %}
          <a class="invalid">{{ node.text }}</a>
        {% endif %}
      </li>
    {%- endfor %}
    <li>
      <a>{{ title }}</a>
    </li>
  </ul>
</nav>
